#sidebar {
    min-width: 225px;
    max-width: 225px;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    z-index: 0; }
    #sidebar:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background: #2f89fc;
      background: -moz-linear-gradient(45deg, #2f89fc 0%, #ff5db1 100%);
      background: -webkit-gradient(left bottom, right top, color-stop(0%, #2f89fc), color-stop(100%, #ff5db1));
      background: -webkit-linear-gradient(45deg, #2f89fc 0%, #ff5db1 100%);
      background: -o-linear-gradient(45deg, #2f89fc 0%, #ff5db1 100%);
      background: -ms-linear-gradient(45deg, #2f89fc 0%, #ff5db1 100%);
      background: linear-gradient(45deg, #2f89fc 0%, #ff5db1 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f89fc', endColorstr='#ff5db1', GradientType=1 );
      opacity: .8;
      z-index: -1; }
    #sidebar .h6 {
      color: #fff; }
    #sidebar.active {
      margin-left: -270px; }
    #sidebar h1 {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 30px; }
      #sidebar h1 .logo {
        color: #fff; }
        #sidebar h1 .logo span {
          font-size: 13px;
          color: #fff;
          display: block; }
    #sidebar ul.components {
      padding: 0; }
      #sidebar .pad{
          padding: 20px 0 0 20px;
          max-height: calc(100vh - 0rem);
          height: 100%;
          /* overflow-y: scroll; */
      }
    #sidebar ul li {
      font-size: 16px;
      margin-bottom: 15px;
    }
      #sidebar ul li > ul {
        margin-left: 10px;
    padding-top: 10px; }
        #sidebar ul li > ul li {
          font-size: 14px;
        list-style: none; }
        
        #sidebar ul li > ul li.active a{
            padding-left: 10px;
        border-radius: 25px 0 0 25px;
        background-color: #ff5db1;
        color: #fff;
        }
      #sidebar ul li a {
        padding: 10px 0 10px 10px;
        display: block;
        color: rgba(255, 255, 255, 0.6);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
        #sidebar ul li a span {
          color: #fff; }
        #sidebar ul li a:hover {
          color: #fff;
        text-decoration: none;
        margin-left: -10px;
         transition: 0.5s;
        }
      #sidebar ul li.active > a {
        padding-left: 10px;
        margin-left: -10px;
        border-radius: 25px 0 0 25px;
        background-color: #ff5db1;
        color: #fff; }
    @media (max-width: 991.98px) {
      #sidebar {
        min-width: 180px;
        max-width: 180px; } }
    #sidebar .custom-menu {
      display: inline-block;
      position: absolute;
      top: 20px;
      right: 0;
      margin-right: -20px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      @media (prefers-reduced-motion: reduce) {
        #sidebar .custom-menu {
          -webkit-transition: none;
          -o-transition: none;
          transition: none; } }
      #sidebar .custom-menu .btn {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: relative; }
        #sidebar .custom-menu .btn i {
          margin-right: -40px;
          font-size: 14px; }
        #sidebar .custom-menu .btn.btn-primary {
          background: transparent;
          border-color: transparent; }
          #sidebar .custom-menu .btn.btn-primary:after {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            background: #30e3ca;
            border-radius: 10px; }
          #sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
            background: transparent !important;
            border-color: transparent !important; }
.padl{
    padding-left: 1.5rem;
} 

[lang="ar"] #sidebar ul li.active > a{
    padding-left: 0px;
    padding-right: 10px;
    border-radius: 0 25px 25px 0;
}
[lang="ar"] #sidebar .pad{
    padding: 20px 20px 20px 0;
}
[lang="ar"] .mr-2{
    margin-right: 0rem!important;
    margin-left: .5rem!important;
}
[lang="ar"] #sidebar ul li.active > a{
margin-left: 0;
}
.ripple {
    background-position: center;
    transition: background 0.8s;
    border-radius: 25px 0 0 25px;
    padding-left: 10px;
  }
  .ripple:hover {
    background: #007bff radial-gradient(circle, transparent 1%, #007bff 1%) center/15000%;
    margin-left: -10px;
    padding-left: 10px;
    
  }
  .ripple:hover a{
    border-radius: 20px 0 0 20px;
    padding-left: 20px;
  }

  .ripple:active {
    background-color: #007bff;
    background-size: 100%;
    transition: background 0s;
    border-radius: 25px 0 0 25px;
  }



  [lang="ar"] .ripple {
   
    border-radius: 0 25px 25px 0;
    padding-left: 0px;
    padding-right: 10px;
  }
  [lang="ar"] .ripple:hover {
     
    margin-left: 0px;
    padding-left:0px;
    margin-right: -10px;
    padding-right: 10px;
    
  }
  [lang="ar"] .ripple:hover a{
    padding-left: 0px;
    padding-right: 20px;
  }

  [lang="ar"] .ripple:active {
    border-radius: 0 25px 25px 0;
  }
  [lang="ar"] #sidebar ul li a:hover{
      margin-left: 0;
      margin-right: -10px;
  }
  [lang="ar"] #sidebar ul li a {
    padding: 10px 10px 10px 0px;}
    [lang="ar"]  .padl{
        padding-left: 0rem;
        padding-right: 1.5rem;
    } 